* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.texto {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: rgb(33, 158, 241);
    color: white;
}

.texto h1 {
    padding: 20px;
}


.container {
    display: flex;
    background-image: url(../imagens/img.png);
    gap: 8px;
    flex-wrap: wrap
}


.Modal {
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 32px auto;
    ;
}


.Modal img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-top: 60px;
    margin-left: 140px;
}


.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(248, 232, 232);
    padding: 32px;
}

.sc-gtssRu {
    border-radius: 20px 20px 0 0;
}

.content h1 {
    padding-bottom: 20px;
}